#app {
    width: 744px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #04C4D9;
}

#inBox {
    border: 2px solid #04C4D9;
    outline: none;
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 10px;
    width: 600px;
}

.addBtn {
    padding: 10px 30px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #F29966;
    color: #fff;
    border: none;
    outline: none;
}

.list {
    padding: 0;
    margin-top: 30px;
}
.list li {
    line-height: 2;
    font-size: 22px;
    color: #555;
    border-bottom: 1px dashed #ddd;
    list-style-position: inside;
    margin-bottom: 10px;
}
.list li button {
    margin: 5px 2px 0;
    padding: 5px 10px;
    float: right;
    font-size: 16px;
    border-radius: 5px;
    background-color: #F29966;
    color: #fff;
    border: none;
    outline: none;
}

.clear {
    text-align: center;
    margin-top: 50px;
}
.clear button {
    border: none;
    outline: none;
    background-color: #F29966;
    width: 200px;
    margin: 5px 2px 0;
    padding: 10px 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
}